extends base
include _itemPortfolio

block append head

block content
    main.main
        section#portfolio.portfolio.section
            .container.section-title(data-aos="fade-up")
                h2 Portfolio
                p This is Danny Alfandi's portfolio from his previous work and freelance
            .container
                .isotope-layout(data-default-filter="*", data-layout="masonry", data-sort="original-order")
                    ul.portfolio-filters.isotope-filters(data-aos="fade-up", data-aos-delay="100")
                        li.filter-active(data-filter="*") All
                        li(data-filter=".filter-mobile-app") Mobile App
                        li(data-filter=".filter-web-app") Web App
                    .row.gy-4.isotope-container(data-aos="fade-up", data-aos-delay="200")
                        each portfolio in portfolios
                            +itemPortfolio(portfolio)