extends base

block append head

block content
    main.main
        section#resume.resume.section
            .container.section-title(data-aos="fade-up")
                h2 Resume
                p Software Engineer with 3 years of experience, specializing in backend and full-stack development. Strong focus on optimization and maintainability. Passionate about innovation and delivering high-quality solutions that enhance user experience.
            .container
                .row
                    .col-lg-6(data-aos="fade-up", data-aos-delay="100")
                        h3.resume-title Education
                        .resume-item
                            h4 Bachelor Degree Informatics System (GPA 3.632/4.0)
                            h5 2016 - 2021
                            p
                                em University of Surabaya(UBAYA), Surabaya, East Java
                    .col-lg-6(data-aos="fade-up", data-aos-delay="200")
                        h3.resume-title Professional Experience
                        .resume-item
                            h4 Junior Fullstack Developer
                            h5 Aug 2023 - Aug 2024
                            p
                                em Surabaya, East Java, Indonesia (Remote) 
                            ul
                                li Developed and migrated customized code from Aquila to Laravel, improved maintainability.
                                li Reviewed and optimized code from other developers to enhance performance, maintainability, and overall code quality.
                                li Developed a custom Composer package for future projects, enhancing code reuse and improving development efficiency across similar functions.
                        .resume-item
                            h4 Mobile App Freelance
                            h5 September 2021 - January 2022
                            p
                                em Indonesia (remote)
                            ul
                                li Develop mobile order monitoring application for business owners, improving real-time tracking of sales and customer insights. This consumes an API provided by the backend service.
                                li Integrated geolocation features, allowing businesses to visualize customer distribution via interactive maps. This will help the user to see who using this product.
                                li Optimized order management with a categorized status system (pending, processing, shipped, received), reducing operational inefficiencies.
                                li Developed a dynamic leaderboard system to track top-performing products, customers, and employees, boosting engagement and performance analysis.
                        .resume-item
                            h4 Junior - Associate Software Backend Developer
                            h5 June 2021 - June 2023
                            p
                                em Tangerang, Jakarta, Indonesia (remote)
                            ul
                                li Utilized Docker to enhance development work ow and ensure environment consistency.
                                li Collaborated with senior developers to create and override functions, ex: Override function in PO. Successfully deploying three websites on time and ensuring a smooth public launch.
                                li Developed and maintained technical documentation to assist users and developers in understanding, updating, and utilizing functions ef ciently.
                                li Leveraged GraphQL to build scalable APIs and tailor third-party API integrations to meet business needs.
                                li Integrated and automated workflows using n8n.
                        .resume-item
                            h4 Junior Software Engineer
                            h5 March 2021 - June 2021
                            p
                                em Surabaya, East Java, Indonesia
                            ul
                                li Collaborate with the engineering team and UI/UX designers to develop an internal web application.
                                li Developed a Flutter app for managing tournament operations and enhancing event organization.
                        .resume-item
                            h4 Freelance mobile app
                            h5 2019
                            p
                                em Remote
                            ul
                                li Developed a tracking and product scanning system to improve inventory management.